*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{
    width: 100%;
    display: block;
}
/*body{
} */
/* left-container{
} */
#about{
    padding: 80px;
    display: flex;
    justify-content: space-between;

}
.left-container{
    width: 50%;
}
.right-container{
    width: 35%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 40px;
}
.right-container h5{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    

}
.left-container h3{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.left-container h4{
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: lighter;
}
.left-container p{
    word-spacing: 2px;
    font-size: 20px;
    
    margin-bottom: 50px;
}
.right-container .image-container{
width: 70%;
margin:0 auto;
margin-bottom: 10px;
}
.right-container .box{
       display: flex;
       margin-bottom: 20px;
}
.right-container .box .left-box h6{
    width: 20%;
    margin-right: 45px;
      

}
.right-container .box .left-box h6{
    width: 10%;
    border-bottom: 2px;
    font-size: 22px;

}
.right-container .box .left-box .line{
    width: 20px;
    border-bottom: 2px solid black;
    text-align: left;

}
.right-container .box .right-box{
    width: 90%; 
}
.right-container .box .right-box p{
    font-size: 14px;
     
}
.section .button{
    margin-right: 50px;
}
.right-container button{
    font-size: 20px;
    background-color: brown;
    padding: 5px;
    color: aliceblue;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    border: none;
}

#vision{
    padding: 80px;
    display: flex;
    justify-content: space-between;

}
.left{
    width: 33%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}
.center{
    width: 33%;
}
.right{
    width: 33%;
}
